@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
   font-size: 12px;
   line-height: 15px;
   letter-spacing: -0.25px;
   font-family: 'Spartan', sans-serif;
   position: relative;
}
h1{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: 700;
}
h2{
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.67px;
    font-weight: 700;
}
h3{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.8px;
    font-weight: 500;
}
h4{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.31px;
    font-weight: 700;
}
p{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
}

button{
    outline: none;
    border: transparent;
    font-family: "Spartan", sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    padding: 17px 24px;
    color: #fff;
    background-color: #7C5DFA;
    cursor: pointer;
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}
button:hover{
    background-color: #9277FF;
}

a{
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.67px;    
    }
    
}